.col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7{
    padding-right: 0px !important;
    padding-left: 0px !important;
}

body{
  background-color: #f7f9fc;
}

.logo-brand{
  margin-top: 34px;
  font-size: 36px !important;
}

h1{
  font-size: 58px !important;
  font-weight: 700 !important;
}

.phone{
  margin-top: 38px;
  font-size: 18px;
}

.logo{
  background-image: url("images/background.png");
  position: absolute;
  width: 100vw;
  top:0;
  right:0;
  background-position: 0% 37.5%;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(28%);
  height: 680px;
  overflow:hidden;
  z-index: -1;
}

.logo-tag span{
  font-size: 1.25rem;
  opacity: 0.75;
}
.logo-tag button, .show-all{
  font-weight: 500 !important;
  font-size: 1rem;
  border-radius: 30px;
  padding: 0.7rem 2.75rem;
  background-color: #ffa62b !important;
}

main{
  border-radius: 5px;
  padding: 0 36px;
}
main h2{
  font-size: 3.5rem;
  font-weight: 700 !important;
}
.after-header{
  font-weight: 600 !important;
  color: #2D2D2D;
  opacity: 0.9;
}
main hr{
  width: 10%;
  height: 2px;
  border-radius: 10px;
  background-color: #FFA62B;
  border: none;
  margin-bottom: 100px !important;
}

.item{
  margin-bottom: 80px;
  color: #2D2D2D;
}
.item img{
  margin-bottom: 5px;
  cursor: pointer;
}
.type{
  font-size: 14px;
  cursor: pointer;
}
.select{
  margin-top: 5px;
  font-weight: 18px;
  cursor: pointer;
}
.item .type, .item .select{
  opacity: .8;
}
.item:hover > .type, .item:hover > .select{
  opacity: 1;
  color: black;
}
.select strong{
  opacity: .8;
}
.sircle{
  display: block;
  width: 10px;
  height: 11px;
  background-color: orange;
  border-radius: 100px;

  position: relative;
  margin-top: 7px;
  margin-right: 5px;
}

.show-all{
    padding: 0.5rem 1.5rem;
}


footer{
  width: 100%;
  height: 424px;
  background: #2D2D2D;
  padding-top: 51px;
}

.footer-block-left strong{
  font-size: 48px;
}
.footer-block-left p{
  width: 323px;
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 60px;
}
.footer-block-left small{
  font-size: 15px;
  opacity: .5;
}

.footer-block-right{
  padding-top: 16px;
}
.footer-block-right span{
  color: #FFA62B;
  font-size: 17px;
  margin-bottom: 20px;
}
.footer-block-right a{
  text-decoration: none;
  color: white;
  margin-bottom: 20px;
}
.footer-block-right a:hover{
  color: white;
}
.rules{
  margin-top: 77px;
  font-size: 15px;
}
.rules small:first-child{
  margin-bottom: 20px;
}

@media  (min-width:768px) and (max-width: 991px) {
  .select{
    margin-left: 35%;
  }
}

@media (max-width: 767px){
  main h2{
    font-size: 44px !important;
  }
  main .after-header{
    font-size: 14px !important;
  }

  .item img{
    width: 100%;
  }
  .item .type{
    font-size: 18px;
  }
  .select small{
    top: 8px;
  }
  .select strong{
    font-size: 24px;
  }
  .logo-brand {
    margin-top: 18px;
  }
  .logo-tag h1{
    font-size: 44px !important;
  }
  .logo-tag span{
    font-size: 18px !important;
  }

  .footer-block-right span, .footer-block-right a, .footer-block-right .rules{
    display: none !important;
  }

  .footer-block-left p{
    margin-bottom: 20px;
  }
  .left-block-rules{
    width: 100%;
    font-size: 10px;
    position: relative;
    display: inline-grid;
    margin-bottom: 20px;
  }
  .left-block-rules small{
    opacity: 1;
  }
}

@media (max-width: 381px) {
  .logo{
    height: 480px;
  }
  .logo-brand{
    font-size: 24px !important;
    margin-top: 28px;
  }
  .phone{
    font-size: 12px !important;
  }
  .logo-tag h1{
    font-size: 32px !important;
  }
  .logo-tag span{
    font-size: 14px !important;
  }
  .logo-tag button{
    font-size: 14px !important;
    padding: 0.45rem 1.8rem;
    margin-top: 30px !important;
    margin-bottom: 30px !important;
  }

  main hr{
    margin-bottom: 40px !important;
    width: 30%;
  }
  main h2{
    font-size: 26px !important;
  }
  main .after-header{
    font-size: 12px !important;
  }
  .item {
    margin-bottom: 40px;
  }

  footer{
    padding-top: 21px;
    height: 360px;
  }
  .footer-block-left strong {
    font-size: 32px;
  }
  .footer-block-left{
    height: 328px;
    position: relative;
  }
  .footer-block-left p{
    width: 100%;
    font-size: 12px;
    margin-bottom: 50px;
  }
  .left-block-rules{
    width: 100%;
    position: relative;
    display: inline-grid;
    margin-bottom: 5px;
    text-align: left;
  }
  .left-block-rules small{
    font-size: 12px !important;
  }
  .footer-block-left .Copyright{
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
  }
}
